// -------- MOBILE -------- //

.coming {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
    &__header {
      width: 100%;
      background-color: #f3f3f3;
      color: #4e4e4e;
      height: 10em;
      padding: 1.5em;
      text-align: center;
      font-size: 2.3em;
      & strong {
        font-weight: bold;
      }
      & p:nth-child(2){
        display: none;
      }
      &__article {
        position: absolute;
        left: 1em;
        width: 35%;
        & p {
          font-size: 0.6em;
          text-align: start;
        }
      }
    }
  &__form {
    width: 100%;
    height: 70vh;
    background-color: #175085;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.5em;
    color: white;
    &__title {
      text-align: center;
      width: 70%;
      font-size: 1.8em;
    }
    & input, & button {
      width: 80%;
      height: 3em;
      font-size: 1.8em;
      font-weight: bold;
      border-radius: 0.2em;
      border: none;
      text-align: center;
      margin-top: 0.8em;
    }
    & button {
      background-color: #fbd600;
      color: #175085;
    }
  }
  & footer {
    display: none;
  }
  img.ui.image {
    position: absolute;
    top: 10em;
  }
}

// -------- DESKTOP -------- //
@media (min-width: 1000px) {
  .coming {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 70%;
    &__header {
      width: 100%;
      background-color: #f3f3f3;
      color: #4e4e4e;
      height: 10em;
      padding: 1.5em;
      text-align: center;
      font-size: 2.3em;
      & strong {
        font-weight: bold;
      }
      & p:nth-child(2){
        display: block;
        font-size: 0.8em;
      }
      &__article {
        width: 40%;
        position: absolute;
        & p {          
          margin-right: 0px;
          font-size: 0.6em;
        }
      }
    }
  &__form {
    padding: 0px;
    width: 100%;
    height: 12em;
    background-color: #175085;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__desktop {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 2em;
    }
    &__title {
      font-size: 1em;

    }
    & input, & button {
      height: 2em;
      font-size: 1.8em;
      font-weight: bold;
      border-radius: 0.2em;
      border: none;
      text-align: center;
      width: 30%;
    }
    & input {
      width: 50%;
    }
    & button {
      background-color: #fbd600;
      color: #175085;
    }
  }
    & footer {
      padding-top: 50%;
      display: block;
    }
  }
  img.ui.image {
    position: absolute;
    margin-top: 5em;
    left: -30px;

  }
}